:root {
    --primary-color: #B66200;
    --secondary-color: #00425A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
}

header p {
    font-size: 32px;
    color: white;
    font-weight: bold;
    padding: 50px;
    text-align: left;
}


header nav ul {
    gap: 100px;
    padding: 50px;
    display: flex;
    align-items: left;
}

header nav li  {
    list-style: none;
    font-size: 24px;
    font-weight: bold;
}

header nav a {
    text-decoration: none;
    color: white;
    text-align: left;
}

section h1 {
    font-size: 50px;
    font-weight: bold;
    border-right: 3px solid var(--primary-color);
    margin: 10px 50px;
    float: left;
}

.aboutme p {
    font-size: 24px;
    padding: 10px;
    margin: 10px 30px;
    display: flex;
}

.links {
    margin: 10px 30px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.banner {
    max-width: 1000px;
    max-height: 1000px;
}

.social {
    max-width: 300px;
    max-height: 300px;
}

.links div a {
    display: grid;
    grid-template-columns: auto auto;
}
