:root {
    --primary-color: #B66200;
    --secondary-color: #00425A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
}

header nav {
    margin: auto auto;
    padding: auto 30px;
}

header nav ul {
    gap: 200px;
    display: flex;
}

header nav li  {
    list-style: none;
    font-size: 24px;
    font-weight: bold;
}

header nav a {
    text-decoration: none;
    color: white;
    text-align: left;
}

header p {
    font-size: 32px;
    color: white;
    font-weight: bold;
    padding: auto;
    margin: 30px 30px;
    text-align: left;
}

section h1 {
    font-size: 50px;
    font-weight: bold;
    border-right: 3px solid var(--primary-color);
    margin: 30px 30px;
    padding: 0 30px 0 0;
    float: left;
}

.aboutme p {
    font-size: 24px;
    display: flex;
    margin: 30px 30px;
}

.links h1{
    margin: 200px 30px 30px 120px;
}

.link {
    display: flex;
    flex-wrap: wrap;
}

.banner {
    margin: 30px 30px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    padding: 30px 30px;
    grid-gap: 30px;
}

.banner-img {
    max-width: 800px;
    max-height: 800px; 
}

.social {
    max-width: 400px;
    max-height: 400px;
}

.contact h1 {
    font-size: 50px;
    font-weight: bold;
    border-right: 3px solid var(--primary-color);
    margin: 30px 30px 30px 30px;
    padding: 0 30px 0 0;
    float: left;
}

.contact address {
    display: flex;
}



